<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/css/favicon.png" type="image/x-icon">
    <title>Home page</title>
</head>
<body>
    <%- include('partials/head.ejs'); -%>
    <h1>This is the dashboard</h1>
</body>
</html>