<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./forgotpassword.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="form-container">
        <form class="beautiful-form">
            <h2 class="form-title">FORGOT PASSWORD</h2>
            <div class="success-message"></div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required autocomplete="email" placeholder="someone@example.com">
                <div class="error-message"></div>
            </div>
            <button type="submit">Send Email</button>
            <div class="form-links">
                <a href="/login">Already Have an Account</a>
                <a href="/signup">Don't Have An Account? Create One</a>
            </div>
        </form>
    </div>    
    <script src="./forgotpassword.js"></script>
</body>
</html>