* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/css/IMG-0940.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #f7f9fc;
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    opacity: 70%;
}

.beautiful-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #555;
}

input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.error-message {
    color: #ff6347;
    font-size: 14px;
    margin-top: 5px;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:active {
    transform: scale(0.97);
}

button:hover {
    background-color: #45a049;
}

.form-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-bottom: 10px;
}

.form-links a:hover {
    color: #333;
}
